{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
{{ macros.page_header('Find free times and users') }}

<div class='row'>
    <div class='col-xs-4 col-md-2'>

        <div id='finduser' class='input-group'>
            <input type='text' class = 'form-control' name='onid' id='onid'
                spellcheck='false' placeholder='Search ONIDs'>
            <span class='input-group-btn'>
                <button class='btn btn-default' type='button' id='adduser'>Add</button>
            </span>
        </div>

        <div class='voffset4 panel panel-default'>
            <div class='panel-heading'><strong>Attendees</strong></div>
            <div class='panel-body'>
                <ul class='list-group' id='attendees'> </ul>
            </div>
        </div>

        <div class='voffset4'></div>
        {{ wtf.quick_form(form, button_map={'findtimes': 'primary'}) }}
    </div>

    <div class='col-xs-8 col-md-10'>
        <div class="jumbotron" id='placeholder'>
            <h3>Results will appear here.</h3>
            <h4 class='text-muted'>Add people using the search box on the left.</h4>
        </div>
        <div class='panel panel-default' id='results'>
            <div class='panel-heading has-error' id='freetimesHeading'>
                <strong>Free Times</strong>
                <strong id='noresults' style='color:red'> - No results found.</strong>
            </div>
            <div class='table-responsive' id='freetimes'>
                <table class='table table-bordered table-condensed'>
                    <thead>
                        <tr>
                            <td><strong>Start</strong></td>
                            <td><strong>End</strong></td>
                            <td><strong>People free (busy people shown in <font color='red'>red</font>)<strong></td>
                        </tr>
                    </thead>
                    <tbody id='freetimesBody'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block styles %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='lib/datetimepicker/jquery.datetimepicker.css')}}'>
{#
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='assets/css/typeahead.css')}}'>
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='assets/css/search.css')}}'>
#}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src='{{ bootstrap_find_resource('socket.io.js', cdn='socket.io', use_minified=True) }}'></script>
{#
<script src='{{ bootstrap_find_resource('typeahead.bundle.js', cdn='typeahead', use_minified=True) }}'></script>
<script src='{{ bootstrap_find_resource('handlebars.js', cdn='handlebars', use_minified=True) }}'></script>
<script type='text/javascript' src='{{url_for('static', filename='assets/js/search.js')}}'></script>
#}
<script type='text/javascript' src='{{url_for('static', filename='lib/datetimepicker/jquery.datetimepicker.js')}}'></script>
<script type="text/javascript">
    {% include 'interpreted_js/search.js' %}
</script>
{% endblock %}
