{% macro page_header(heading, secondary="") %}
<div class="page-header">
    <h1>{{ heading }} <small>{{ secondary }}</small></h1>
</div>
{% endmacro %}

{% macro flash_message(message, severity, heading="") %}
{% set severity_levels = {
    'danger': 'danger',
    'info': 'info',
    'message': 'info',
    'success': 'success',
    'warning': 'warning',
} %}
{% set severity = severity_levels.get(severity) %}
{% if severity is none: %}
{% set severity = 'warning' %}
{% endif %}
<div class="alert alert-{{ severity }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{ heading }}</strong> {{ message }}
</div>
{% endmacro %}
