{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
{{ macros.page_header("Find free times and users") }}

<div class="row">
    <div class="col-xs-6 col-md-4">
        <form role="form" id="search">
            <div class="form-group">
                <label for="onid">ONID</label>
                <input type="email" class = "form-control" name="onid" id="onid" placeholder="Search ONIDs">
            </div>
            <button type="submit" class="btn btn-default">Search users</button>
        </form>
        <div class="voffset4"></div>
        {{ wtf.quick_form(form, button_map={'submit': "primary"}) }}
    </div>
    <div class="col-xs-12 col-md-8">
    </div>
</div>

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/datetimepicker/jquery.datetimepicker.css')}}"
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='lib/datetimepicker/jquery.datetimepicker.js')}}"></script>
<script type="text/javascript">
(function($, document, window) {
    $(document).ready(function() {
        // Attach datetimepicker widgets to start and end time fields
        $("#start").datetimepicker();
        $("#end").datetimepicker();

        var socket = io.connect('http://' + document.domain + ':' +
            location.port + '/search');

        socket.on('result', function(msg) {
            alert(msg.data);
            //$("#users").append(msg.data + ", ");
        });

        $("#search").submit(function (event) {
            socket.emit('search', {data: $("#onid").val()});
            event.preventDefault();
        });
    });
})(jQuery, document, window);
</script>
{% endblock %}
