{% extends "base.html" %}

{% block page_content %}

{% if username in session: %}
<p>Boo!<p>
{% else %}
<div class="jumbotron">
    <h1>Welcome to cloudendar!</h1>
    <p class="text-muted">
        Please sign in or create an account to begin managing
        your meetings.
    </p>
    <p>
        <a class="btn btn-lg btn-primary" role="button" href="/login">Log in</a>
        <a class="btn btn-lg btn-primary" role="button" href="/signup">Sign up</a>
    </p>
</div>
{% endif %}

{% endblock %}
